
}
.food > h1{
    color: #6CB840;
}
header{
    background-color:lightgray;
}
.food > h1 > span{
    color:#EAAB1B;
}
#order{
    background-color: #6CB840;
    background-clip: content-box;
    margin-right: 1110px;
    border: 5px;
    border-radius: 120px;
    padding: 1px;
    text-align: center;
    color: white;
}
nav > ul>li {
    display: flex;
}
footer{
    background-color:#C9ECB5 ;
    padding: 10px;
}.contact{
    background-color: #FFD77C;
    padding: 20px;

}
.hot{
    background-color:#C9ECB5;
    padding: 20px;
}
.hot > h2 > span{
    color: #6CB840;
}
.hot > h1{
    color: #6CB840;
}
.menu{
    background-color: lightgrey;
}
.menu > h1 > span{
    color: #6CB840;
}