
.food > h1{
    color: #6CB840;
}
header{
    background-color:lightgray;
    padding-bottom: 120px;
}
.food > h1 > span{
    color:#EAAB1B;
}
.food > p{
    text-align: justify;
    margin-right: 850px;
}
.food{
padding-left: 50px;
}
#order{
    background-color: #6CB840;
    background-clip: content-box;
    margin-right: 1110px;
    border: 5px;
    border-radius: 120px;
    padding: 1px;
    text-align: center;
    color: white;
}
#order > p{
    margin: 8px;
}
nav > ul>li {
    display: flex;
}
.contact{
    background-color: #FFD77C;
    padding-top: 8px;
    padding-bottom: 100px;
    

}
.contact > h1{
    margin-left: 500px;
}

.contact > h1 > span{
    color: #6CB840;
}
.contact > p{
    width: 230px;
    margin-left: 470px;  
    text-align: center; 
}
#email{
    background-color: white;
    background-clip: content-box;
    width: 500px;
    margin-left: 320px;
    padding:20px;
    border-radius:80px ;
}
#email > p{
    margin: 8px;
    text-align: left;
}
#send{
    background-color: #6CB840;
    background-clip: content-box;
    border-radius: 40px;
    padding: 1px;
    text-align: center;
    color: white;
    width: 120px;
    margin-left: 550px;
}
#send > P{
    margin: 8px;

}
.hot{
    background-color:#C9ECB5;
    padding: 40px;
    background-image: url(./juice.png),url(./likemeat.png);
    background-position: bottom left;
    background-repeat:no-repeat;
    background-size: 300px 450px, 500px 250px;
    padding-bottom: 40px;
}
.hot > h2{
    text-align: center;
}
.hot > h2 > span{
    color: #6CB840;
}
#hot2 > h1{
    color: #6CB840;
}
.menu{
    background-color: lightgrey;
}
.menu > h1 > span{
    color: #6CB840;
}
.menu > h1{
    text-align: center;
}
#hot2 > p{
    text-align: center;
    padding-right: 350px;
    
}
#hot2{
    margin-left: 600px; 
    margin-top: 80px;
    }
.day{
    float: left;
    margin-right: 100px;
    border-right-style: dotted black;
    padding-right: 50px;   
}
.numbers{
    float: left;
    margin-top: 40px;
    padding: 0px;
}
.follow{
    float: right;
    margin-right: 200px;
}
footer{
    background-color:#C9ECB5 ;
    background-clip: border-box;
    padding-top: 10px;
    padding-bottom: 150px;
}
#send2{
    margin-left: 1150px;
    text-align: center;
padding-top: 80px;
display: flex;
}
#send2 > p{
    background-color: #6CB840;
    background-clip: padding-box;
    padding:5px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    color: white;   
}
.eat > h1{
    color: #EAAB1B;
    margin-left: 600px;
}

.eat{
    text-align: center;
    padding: 150px;
    background-image:url(./eating_together.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;   
}
.eat > p{
    text-align: center;
    margin-left: 600px;
}
nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}
nav > ul > li > a{
    text-decoration: none;
    color: black;
}
.flex-container{
    display: flex;
    flex-wrap: wrap; 
    padding-bottom: 30px;
}

#one >p,#two>p,#three>p,#four>p,#five>p,#six>p{ 
 position: relative;
text-align: center;
width: 190px;
margin-left: 90px;
}
.bg1, .bg2, .bg3, .bg4, .bg5, .bg6{
    position: absolute;
    margin-left: -80px;
}

#one, #two,#three,#four,#five,#six{
    background-color: white;
    border-bottom-right-radius: 40px; 
    margin: 40px;
    padding-bottom: 40px;
    padding-right:40px; 
}
.eclipse{
    position: absolute;
    background-color: #649549;
    opacity: 0.6;
    height: 1200px;
    width: 1200px;
    border-radius: 50%;
    bottom: 30%;
    left: 35%;
overflow: hidden;
z-index: 0;
}
.image1{
    position: absolute;
    margin-left: 770px;
    margin-top: 200px;
}
.image2{
    position: absolute;
    margin-left: 800px;
    margin-top: 80px;
}
.image3{
    position: absolute;
    margin-left: 930px;
    margin-top: 15px;
}
.image4{
    position: absolute;
    margin-left: 1030px;
    margin-top: 80px;
}
.image5{
    position: absolute;
    margin-left: 1100px;
    margin-top: 240px;
}
.image6{
    position: absolute;
    margin-left: 900px;
    margin-top: 220px;

}
.logo{
    position: absolute;
    margin-left: 550px;
    margin-top: -80px;

}
.circle{
border-style: dotted;
margin-top: 230px;
margin-left: 750px;
border-radius:220px 180px 100px;
position: absolute;
border-color:lightgreen transparent;
width: 400px;
height: 300px;
}

